<div class="banner">
  <div class="banner__navigation">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, class: "banner__navigation-link", method: "delete" do %>
        <i class="fas fa-sign-out-alt banner__navigation-icon"></i>Logout
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "banner__navigation-link" do %>
        <i class="fas fa-user banner__navigation-icon"></i>Login
      <% end %>
    <% end %>
  </div>
  <div class="banner__content">
    <div><h1 class="banner__header">Haar's House of Tunes</h1></div>
    <div><%= image_tag 'haar.png' %></div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <!-- Chuck Norris joke replaced with Haar -->
        <p class="text-center text-gray"><%= haar_joke %></p>
      </div>
    </div>
  </div>
  <div class="text-right text-light-gray text-small padded-right">
    Jokes are not mine ("http://www.icndb.com/")
  </div>
</div>
