/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.padded-right {
  padding-right: 1em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-gray {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.text-gray {
  color: $gray-darker;
}

.text-light-gray {
  color: $gray-lighter;
}

.text-small {
  font-size: 10px;
}

.flex-row {
  display: flex;
}

.flex-container {
  display: flex;
  align-items: center;
}
