/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.text-gray {
  color: $gray-darker;
}

.text-light-gray {
  color: $gray-lighter;
}

.text-small {
  font-size: 10px;
}
