<% content_for(:title) do %>
<%= "Haar's House of Tunes" %>
<% end %>

<div class="wrapper-default padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <%= render 'partials/toolbar' %>

        <div class="row">
          <div class="video-grid">
            <%= render 'partials/tune_collection' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


