<% content_for(:title) do %>
  <%= "Haar's House of Tunes" %>
  <% end %>
  
  <div class="wrapper-default padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
  
          <%= render 'toolbar' %>
  
          <div class="row">
            <div class="video-grid">
              <%= render 'tune_collection' %>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  