<% content_for(:title) do %>
  <%= "Haar's House of Tunes" %>
  <% end %>
  
  <div class="wrapper-default padded">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
  
          <%= render 'toolbar' %>    
          <%= render 'tune_collection' %>
        </div>
      </div>
    </div>
  </div>
  