<% content_for(:title) do %>
  <%= "Haar's House of Tunes" %>
<% end %>

<%= render partial: 'shared/banner', locals: {haar_joke: @haar_joke}%>
<div class="wrapper-default padded">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">

          <div class="video-grid">

            <% @tunes.each do |tune| %>
              <div class="col-xs-12 col-sm-4 video">
                <div class="video-container">
                  <div class="video" id="<%= tune.youtube_video_id %>">
                    <div class="play-button" data-video-id="<%= tune.youtube_video_id %>"></div>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>


