.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.toolbar-left {
  .toolbar-label {
    color: $gray-lightest;
    text-shadow: -1px 1px 1px black;
    margin-right: 10px;
  }
  align-items: center;
  display: flex;
  justify-content: flex-start;

  .toolbar-filter-buttons {
    display: flex;

    .toolbar-link {
      a {
        margin: 10px;
        text-shadow: -2px 2px 2px $yellow-dark;
      }
    }
  }
}

